a {
    text-decoration: none !important;
}
.top-buffer { margin-top:20px; }
.bottom-buffer { margin-bottom:20px; }
.top-padding-20 { padding-top:20px; }
.bottom-padding-20 { padding-bottom:20px; }
@font-face {
  font-family: 'Yekan';
  src: url('../fonts/BYekan.eot'); /* IE9 Compat Modes */
  src: url('../fonts/BYekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BYekan.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/BYekan.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Vazir.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Vazir.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Segoe';
  src: url('../fonts/Segoe-UI.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Segoe-UI.ttf')  format('truetype') /* Safari, Android, iOS */
}

.yekan-font {
    font-family: 'Vazir', Tahoma;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-weight: 700;
}
.english-font {
    font-family: 'Segoe', Tahoma;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.persian-rtl {
    direction: rtl; 
}
.english-ltr {
    direction: ltr; 
}

.english-text {
    direction: ltr; 
    font-family: 'Segoe', Tahoma;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.center-content-container {
    min-height: 200px;
    margin-left: 0;
    margin-right: 0;

}
.center-content-container > .header {
    background-color: white;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.center-content-container > .white-panel {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.white-panel-header{
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    direction: rtl;
    border-bottom: 1px solid rgba(183, 181, 181, 0.36);
}

.content-header-yellow {
    border-right: solid 5px #fecf54;
    border-left: solid 5px #fecf54;
}

.content-header-green {
    border-right: solid 5px #008747;
    border-left: solid 5px #008747;
}
.content-header-red {
    border-right: solid 5px #cf2130;
    border-left: solid 5px #cf2130;
}
.content-header-blue {
    border-right: solid 5px #008b8b;
    border-left: solid 5px #008b8b;
}

.content-header-large {
    font-size: 22px;
}
.content-header-mid {
    font-size: 17px;
}
.content-header-mid i{
    position: relative;
    top: 2.5px;
}
.content-header-small {
    font-size: 14px;
}
/************************************************/

.posts {
    min-height: 300px;
    margin-left: 0;
    margin-right: 0;
}
.post {
    height: 350px;
    background-color: gray;
    margin: 0px 10px 10px 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: white;
    min-width: 150px;

}

.post-back {
    background-color: #b22222 !important;
    padding: 8px !important;
}

.post > .post-middle {
    height: 200px;
    overflow: hidden;
    padding:2px;
    direction: rtl;
}

.post > .post-footer {
    height: 50px;
    position: absolute;
    bottom: 12px;
    width: 100%;
    /*border-top: 1px solid rgba(183, 181, 181, 0.36);*/
        /*position: absolute;
    bottom: 4px;
        margin-right: 200px;
    width: 100%;*/
}

.border-top {
    border-top: 1px solid rgba(183, 181, 181, 0.36);
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.post-avatar-cover {
    width: 39px;
    height: 39px;
    object-fit: cover;
    overflow: hidden;
    padding: 0px;
    text-align: center;
    margin-left: 8px;
}


.post-avatar {
    height: 32px;
    width: 32px;
    border-radius: 35px;

    margin-top: 2px;

   -moz-transition: all .2s;
   -o-transition: all .2s;
   -webkit-transition: all .2s;
   transition: all .2s;
   cursor: pointer
}
.post-avatar:hover {
    border-radius: 5px;
}

.post-tag {
    color: gray;
    /*margin-left: 5px;
    margin-right:5px;*/
    background-color: gainsboro;
    width: 100%
}
.post-tag :hover {
    color: black;
}

.post-tag-icon {
    color: gray;
    margin: 2px;
    margin-right: 6px;
}

.post-tag-text {
    color: gray;
    margin: 2px;
    cursor: pointer;
}


.post-footer-icon {
    padding: 5px;
    cursor: pointer;
    color: gray;
}

.icon-more {
    margin-top: -10px;
}
.icon-more:hover {
    color: #234383;
}
.icon-facebook {
    
}
.icon-facebook:hover {
    color: #234383;
}

/*.icon-heart {
    
}
.icon-heart:hover {
    color: #cf2130;
}*/

.fa-group-mid {
    font-size: 20px;
    cursor: pointer;
    margin-left: 2px;
}

    .sidebar-right {
         background-color: #fff;
         margin: 0;
         
     }
    
    .sidebar-right > .header{
         background-color: #4CAF50;
        color: #fff;
        padding: 10px;
         font-size: 15px
     }
    
    .sidebar-right > .content{
        padding: 15px 0 15px 15px;
     }

    .sidebar-right ul {
        list-style-type: none;
        padding-right: 15px;
    }
    
    .sidebar-right li a {
        display: block;
        color: #777;
        text-decoration: none;
        font-size: 15px
    }

    .sidebar-right li a div{
        font-size: 22px;
    }
    
    .sidebar-right li a label{
        position: relative;
        top: -3px;
        margin-right: 10px;
        cursor: pointer;
    }
    .sidebar-right li a a{
        position: relative;
        top: -3px;
        margin-right: 10px;
        cursor: pointer;
        font-weight: 700;
    }

    .sidebar-right li a:hover {
        color: #4CAF50;
    }

.no-padding{
    padding : 0 !important;
}


body{
	padding-top: 51px;
    background-color: rgb(230,230,230)
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
    display: none;
}
ul{
	list-style: none;
}
a{
	color: #333;
}
a:hover{
	cursor: pointer;
}
ul.simple-post-list .post-image {
	float: left;
	margin-right: 12px;
}
ul.simple-post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.callout-box{
	background-color: #546489;
	color: #fff;
	padding: 10px 20px;
}
.body-title{
	border: 1px solid #e3e3e3;
	border-left: 5px solid #234383;
	padding: 0 20px 20px;
}
.featured-box{
	border: 1px solid #e3e3e3;
	border-top: 5px solid #234383;
	padding: 0 20px 20px;
}
.breadcrumbs {
position: relative;
border-bottom: 1px solid #E5E5E5;
background-color: #F5F5F5;
}
.breadcrumb{
	margin-bottom: 0;
}
.cart-btn{
	border-radius:0;
}
.navbar {
	border-radius: 0;
	
/*background: #438EB9;
color: #fff;border: 0;*/

}
/* Removed width:auto from navbar-collapse classs; */
.navbar-collapse {
border-top: 0;
box-shadow: none;
}
.navbar .navbar-brand {
/*color: #FFF;
font-size: 24px;
text-shadow: none;
padding-bottom: 10px;*/
}
.form-group-addon{
	padding-left: -20px;
}

.site-footer {
   // height: 300px;
    background-color: rgb(20,20,20);
}

.link {
    cursor: pointer;
}

.border-radius-500 {
    border-radius:500px
}

/************************************************************/

/* Style The Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    padding: 2px;
    font-size: 16px;
    width: 100%;
    border-color: #d5d5d5 !important;
    height: 30px
}

/* The container <div> - needed to position the dropdown content */
.ddd {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.ddd-row {
    height: 30px
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: block;
    border-radius:0 0 5px 5px;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top:30px;
    z-index: 100;
}

.scroll-dd {
    overflow: auto;
    max-height: 200px;
    margin: 2px;
}

/* Links inside the dropdown */
.dropdown-content checkbox {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.checkbox:hover {
    background-color: #f1f1f1;
}
    
/* Show the dropdown menu on hover */
.dd-search-input{
    width: 100% !important;
    margin: 0 !important;
}

.dd-search{
    padding: 5px
}
/*************************Image *****************************/
.image-single-cover{
    width: 150px;
    object-fit: cover;
    overflow: hidden
}

.image-single-cover > .image-large{
    height: 250px
}
.image-single-cover > .image-mid{
    height: 150px
}
.image-single-cover > .image-small{
    height: 100px
}
/*************************gallery ***************************/
.gallery {
    
}

.gallery >.media  {
    overflow: hidden;
    height: 150px;
    background-color: 1gray;
    margin-top: 0px;
    padding: 5px;
}

.gallery >.media img {
    height: 150px
}

.image-cover-media {
    width: ;
    object-fit: cover;
}

.media-back {
    background-color: rgba(1, 1, 1, 0.5);
    height: 145px;
    color: white;
    padding: 10px;
}
.media-back i{
    
}
.media-back i:hover{
    color: #cf2130
}
 
.my-link {
    cursor: pointer;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    height: 100px;
    border: dotted 2px grey;
    border-radius: 10px;
    padding: 10px
}

.upload-button {
    margin-bottom: 10px;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0 !important;
    filter: alpha(opacity=0) !important;
}

/************************ sidebar ***************************/

    .colorful-list {
        position: relative;
        background: #fff;
        max-width: 350px;
        min-width: 100px;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 5px;
        padding: 0;
        list-style: none;
        overflow: hidden;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    }

    .colorful-list li a {
        padding-right: 20px;
        height: 50px;
        line-height: 50px;
        display: block;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        color: #686868;
        background-color: white;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .colorful-list li a:hover {
        background: #efefef;
    }


    .colorful-list li:first-child a:hover, .form li:first-child a {
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

    .colorful-list li:last-child a:hover, .form li:last-child a {
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
    }

    .colorful-list li a:hover i {
        color: #ea4f35;
    }

    .colorful-list i {
        margin-left: 15px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .colorful-list em {
        font-size: 10px;
        background: #ea4f35;
        padding: 3px 5px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        font-style: normal;
        color: #fff;
        margin-top: 17px;
        margin-right: 15px;
        line-height: 10px;
        height: 10px;
        float: right;
    }

    .colorful-list li.selected a {
        background: #efefef;
    }
    
    

    .sub-list-a {
        background-color: transparent !important;
    }
    .sub-list {
        border-right: 5px solid #fecf54;
    }
    .sub-list-a-a {
        padding-right: 40px !important;
    }
    .sub-list-label {

    }
    .sub-list-a:hover {
        background-color: transparent !important;
    }
    
    

    .my-border-green {
        border-right: 5px solid #008747;
    }

    .my-border-yellow {
        border-right: 5px solid #fecf54;
    }
        
    .my-border-red {
        border-right: 5px solid #cf2130;
    }
        
    .my-border-tourque {
        border-right: 5px solid #008b8b;
    }

    .my-border-carrot {
        border-right: 5px solid #e67e22;
    }
        
    .my-border-wisteria {
        border-right: 5px solid #8e44ad;
    }
    .my-border-green-sea {
        border-right: 5px solid #16a085;
    }
    .my-border-peter {
        border-right: 5px solid #3498db;
    }
    .my-border-asphalt {
        border-right: 5px solid #34495e;
    }
    .my-border-pumpkin {
        border-right: 5px solid #d35400;
    }
    .my-gray {
        color :  #ddd;
    }
    .my-darkgray {
        color : #777;
    }
    .my-red {
        color :  #cf2130;
    }
        
    .my-tourque {
        color :  #008b8b;
    }

    .my-carrot {
        color :  #e67e22;
    }
        
    .my-wisteria {
        color :  #8e44ad;
    }
    .my-green-sea {
        color :  #16a085;
    }
    .my-peter {
        color :  #3498db;
    }
    .my-asphalt {
        color :  #34495e;
    }
    .my-pumpkin {
        color :  #d35400;
    }
    .my-white {
        color :  #fff;
    }
    
/********************* Comment Styles************************/
.my-comment {
    background-color: #eee;
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
    border-radius:6px;
}
.my-comment-inner {
    background-color: #ddd;
    padding: 10px 0px 10px 0px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius:6px;
}

.my-comment-inner-en {
    background-color: #ddd;
    padding: 10px 0px 10px 0px;
    margin-top: 15px;
    margin-right: 15px;
    border-radius:6px;
}
.my-comment-answer-text {
    cursor: pointer;
    color: #008080
}
.my-comment-answer-text:hover {
    color: #00aaaa;
}

.comment-avatar-cover {
    width: 50px;
    height: 50px;
    object-fit: cover;
    overflow: hidden;
    padding: 0px;
    text-align: center;
    margin-left: 8px;
}
.comment-avatar {
    height: 45px;
    width: 45px;
    border-radius: 35px;

    margin-top: 2px;

   -moz-transition: all .2s;
   -o-transition: all .2s;
   -webkit-transition: all .2s;
   transition: all .2s;
   cursor: pointer
}
.comment-avatar:hover {
    border-radius: 5px;
}

.items-center {
    text-align:center;
}
/************************************************************/