<!--<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">hi</li>

    </ul>
</div>-->
<style>
    .slider {
        height: 400px;
        background-color: gray;
    }
    .posts {
        background-color: wheat;
    }
    .post {
        height: 100px;
        background-color: gray;
        margin: 10px
    }
</style>

<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-12">
            <div class="row col-md-12 slider" style="background-color: gray">

            </div>

            <div class="row col-md-12 posts">
                <div class="col-lg-3" ng-repeat="post in posts">
                    <div class="post">
                         {{post.1}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

