<ul class="colorful-list yekan-font">
    <li>
        <a class="green text-right">
            خانه
            <i class="fa fa-home"></i>
        </a>
    </li>
    <!--selected-->
    <li class="text-right" ng-class="(subjectOpen)?'selected':''" slide-toggle="#subs" ng-click="subjectOpen = !subjectOpen">
        <a class="yellow">
            موضوعات
            <i class="fa fa-list"></i>
        </a>
        <div id="subs" class="sub-list slideable sidebar-right" easing="linear" duration="0.35s">
            <ul style="padding-left: 0px;">
                <li class="sub-list-li" ng-repeat="s in subjects">
                    <a class="yekan-font text-right sub-list-a" ui-sref="home.cat({ id: '{{s.ID}}'})">
                        <label class="sub-list-label">{{s.Title}}</label>
                        <div class="fa fa-angle-double-left" ></div>
                    </a>
                    <ul style="padding-left: 0px;">
                        <li class="sub-list-li" ng-repeat="c in s.childs">
                            <a class="yekan-font text-right sub-list-a sub-list-a-a" ui-sref="home.cat({ id: '{{c.ID}}'})">
                                <label class="sub-list-label">{{c.Title}}</label>
                                <div class="fa fa-angle-left" style="font-size: "></div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <a class="red text-right">
            ورود
            <i class="fa fa-user"></i>
        </a>
    </li>
    <li>
        <a class="tourque text-right ">
            درباره
            <i class="fa fa-info"></i>
        </a>
    </li>
</ul>