<div class="modal-header">
    <h3 class="modal-title yekan-font text-right">ورود به سایت</h3>
</div>
<div class="modal-body">
    <form name="loginForm" class="form-horizontal" role="form">
        <div class="form-group text-right">
            <div class="col-sm-7 ">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control" placeholder="Email / Phone" name="email" ng-model="login.email" required focus />
                    <!--<i class="ace-icon fa fa-user"></i>-->
                </span>
            </div>
            <label class="col-sm-3 control-label no-padding-right yekan-font" for="email"> ایمیل یا نام کاربری </label>
        </div>
        <div class="form-group text-right">
            <div class="col-sm-7">
                <span class="block input-icon input-icon-right">
                    <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required />
                    <!--<i class="ace-icon fa fa-lock"></i>-->
                </span>
            </div>
            <label class="col-sm-3 control-label no-padding-right yekan-font" for="password"> رمز عبور </label>
        </div>
        <!--<div class="space"></div>
        <div class="clearfix">
            <div class="row">
                <label class="col-sm-3 control-label no-padding-right"> </label>
                <div class="col-sm-7">
                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
                        <i class="ace-icon fa fa-key"></i>
                        Login
                    </button>
                </div>
            </div>
        </div>
        <div class="space-4"></div>-->
        <span class="lbl col-sm-3"> </span><a class="col-sm-7 yekan-font">رمز عبور خود را فراموش کرده اید ؟ </a>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default pull-right yekan-font" type="button" ng-click="cancel()" style="margin-left: 5px">بازگشت</button>
    <button class="btn btn-primary pull-left yekan-font" type="button" ng-click="doLogin(login)">ورود</button>
</div>