<div class="modal-header">
    <h3 class="modal-title yekan-font text-right">ورود به سایت</h3>
</div>
<div class="modal-body">
    <form name="signupForm" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-5 control-label no-padding-right" for="email">Email</label>
            <div class="col-sm-7">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control" placeholder="Email" name="email" ng-model="signup.email" focus />
                    <span ng-show="signupForm.email.$error.email" class="help-inline">Email is not valid</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label no-padding-right" for="address">نام کاربری</label>
            <div class="col-sm-7">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control" placeholder="Address" ng-model="signup.username" />
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label no-padding-right" for="name">نام</label>
            <div class="col-sm-7">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control" placeholder="Name" ng-model="signup.firstName" />
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label no-padding-right" for="phone">نام خانوادگی</label>
            <div class="col-sm-7">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control" placeholder="Phone" name="phone" ng-model="signup.lastName" />
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label no-padding-right" for="password">رمز عبور</label>
            <div class="col-sm-7">
                <span class="block input-icon input-icon-right">
                    <input type="password" class="form-control" name="password" placeholder="Password" ng-model="signup.password" required />
                    <small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Enter Password.</small>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label no-padding-right" for="password2">تایید رمز عبور</label>
            <div class="col-sm-7">
                <span class="block input-icon input-icon-right">
                    <input type="password" class="form-control" name="password2" placeholder="Password Again" ng-model="signup.password2" password-match="signup.password" required />
                    <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> Enter password again.</small>
                    <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> رمز با تاییدیه یکسان نیست.</small>
                </span>
            </div>
        </div>
        <div class="form-group">
            <span class="lbl col-sm-5"> </span>
            <div class="col-sm-7">
                <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
                    Sign Up
                </button>
            </div>
        </div>
        <span class="lbl col-sm-5"> </span>
        <div class="col-sm-7">
            Already have an account? <a href="#/login">SignIn</a>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default pull-right yekan-font" type="button" ng-click="cancel()" style="margin-left: 5px">بازگشت</button>
    <button class="btn btn-primary pull-left yekan-font" type="button" ng-click="doLogin(login)">ورود</button>
</div>