<style>
    .navbar-default {
        background-color: transparent;  
    }
</style>

<div  style="padding-right: 30px; padding-left: 30px;">
    <div id="top-menubar-admin" class="navbar navbar-inverse navbar-fixed-top" role="navigation"
         style="">
        <nav class="navbar navbar-default" role="navigation" style="background-color: ; border: none; margin-bottom: 0; padding-right: 20px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                        ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

                <!--<ul class="nav navbar-nav">
                    <li uib-dropdown>
                        <a href="#" uib-dropdown-toggle>
                            Just a clone
                            <span class='caret'></span>
                        </a>
                        <tree tree='tree'></tree>
                    </li>
                </ul>-->
                <ul class="nav navbar-nav navbar-right yekan-font">
                    <li uib-dropdown>
                        <a  uib-dropdown-toggle>
                            <b class='caret'></b>
                            <span style="padding-left: 20px">نظرات</span>
                            <b class='fa fa-comments'></b>
                        </a>
                        <tree tree='commentsTree'>
                        </tree>
                    </li>
                    <li uib-dropdown>
                        <a ui-sref='admin_root.profile' uib-dropdown-toggle>
                            پروفایل من
                            <b class='fa fa-user'></b>
                        </a>
                    </li>
                    <li uib-dropdown>
                        <a ui-sref='home.home' uib-dropdown-toggle>
                            نمایش سایت
                            <b class='fa fa-home'></b>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--<div class="container">
            <div class="row col-md-12 no-padding">
                <div id='cssmenu' class="align-right">
                    <ul>
                        <li><a ui-sref='home.home' class="yekan-font">نمایش سایت<div class="fa fa-home" style="margin-left:8px;line-height:0"></div></a></li>
                        <li><a ui-sref='admin_root.profile' class="yekan-font">پروفایل من<div class="fa fa-user" style="margin-left:8px;line-height:0"></div></a></li>
                        <li><a ui-sref='home.home' class="yekan-font">اعلان ها<div class="fa fa-info" style="margin-left:8px;line-height:0"></div></a></li>

                        <li style="float:left"><a ng-click="logout()">خروج<div class="fa fa-sign-out" style="margin-left:8px;line-height:0"></div></a></li>
                    </ul>
                </div>
            </div>
        </div>-->
    </div>
</div>
<div>
    
    <div class="container">

        <div class="col-md-12 no-padding" style="margin-top: 10px">
            <div class="col-md-9 col-xs-12 col-sm-12 no-padding">
                <div ui-view="viewContent" style="margin-right: 10px"></div>
            </div>
            <div ui-view="viewSidebar" class="col-md-3 col-xs-12 col-sm-12 no-padding" style="margin-top: -5px"></div>
            <!--<div class="col-md-9 no-padding">
                <div ui-view="viewContent"></div>
            </div>
            <div ui-view="viewSidebar" class="col-md-3 no-padding"></div>-->
        </div>
    </div>
</div>