<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Sat, 10 May 2016 00:00:00 GMT">

<div class="center-content-container yekan-font">
    <div class="header content-header-yellow">
        <div class="row">
            <div class="col-md-12 text-right content-header-mid">
                <span>داشبورد</span>
                <i class="fa fa-flag"></i>
            </div>
        </div>
    </div>
    <div class="white-panel" style="height: 500px">
    </div>
</div>

