<ul class="colorful-list yekan-font">
    <li>
        <a class="my-border-green text-right" ui-sref="admin_root.dashboard">
            داشبورد
            <i class="fa fa-inbox"></i>
        </a>
    </li>
    <!--selected-->
    <li id="PostManage" class="text-right"  slide-toggle="#subPostManage" >
        <a class="my-border-yellow">
            مدیریت پست ها
            <i class="fa fa-file-text"></i>
        </a>
        <div id="subPostManage" class="sub-list slideable sidebar-right" easing="linear" duration="0.15s">
            <ul style="padding-left: 0px;">
                <li class="sub-list-li">
                    <a class="yekan-font text-right sub-list-a" ui-sref="admin_root.new_post({ id: '{{s.ID}}'})">
                        <label class="sub-list-label">پست جدید</label>
                        <div class="fa fa-plus"></div>
                    </a>
                </li>
                <li class="sub-list-li">
                    <a class="yekan-font text-right sub-list-a" ui-sref="admin_root.all_posts">
                        <label class="sub-list-label">نمایش همه</label>
                        <div class="fa fa-list"></div>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <a class="my-border-peter text-right">
            مدیریت نظرات
            <i class="fa fa-comment"></i>
        </a>
    </li>
    <li>
        <a class="my-border-carrot text-right" ui-sref="admin_root.subjects">
            مدیریت موضوعات
            <i class="fa fa-folder-open"></i>
        </a>
    </li>
    <li>
        <a class="my-border-red text-right" ui-sref="admin_root.slider">
            اسلایدر
            <i class="fa fa-image"></i>
        </a>
    </li>
    <li>
        <a class="my-border-asphalt text-right" ui-sref="admin_root.users">
            مدیریت کاربران
            <i class="fa fa-user"></i>
        </a>
    </li>
    <li>
        <a class="my-border-wisteria text-right" ui-sref="admin_root.gallery">
            گالری
            <i class="fa fa-file-picture-o"></i>
        </a>
    </li>
    <li>
        <a class="my-border-green-sea  text-right" ui-sref="admin_root.setting">
            تنظیمات سایت
            <i class="fa fa-cog"></i>
        </a>
    </li>
    <li>
        <a class="my-border-pumpkin text-right ">
            خروج
            <i class="fa fa-close"></i>
        </a>
    </li>
</ul>
