<div class="sidebar-right">
    <div class="header text-right">
        <span class="yekan-font" style="position: relative; top: -6px; margin-right: 5px">اقدامات</span>
        <span class="fa fa-wrench fa-2x"></span>
    </div>
    <div class="content">
        <ul>
            <li>
                <a class="yekan-font text-right" ui-sref="admin_root.dashboard">
                    <label>داشبود</label>
                    <div class="fa fa-list-alt"></div>
                </a>
            </li>
            <li>
                <a class="yekan-font text-right">
                    <label>پست</label>
                    <div class="fa fa-list-alt"></div>
                </a>
                <ul>
                    <li>
                        <a ui-sref="admin_root.new_post" class="yekan-font text-right">
                            <label>جدید</label>
                            <div class="fa fa-plus"></div>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="admin_root.all_posts" class="yekan-font text-right">
                            <label>نمایش همه</label>
                            <div class="fa fa-list-ul"></div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

