<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Sat, 10 May 2016 00:00:00 GMT">

<div class="post">
    <figure class="imghvr-shutter-in-out-horiz" style="height: 298px;background-color: white;border-radius: 4px 4px 0 0;">
        <div style="color: #555">
            <div class="thumbnail" style="border: none; margin-bottom: 5px; padding: 0">
                <img ng-src="{{ngModel.Image}}" style="border-radius: 4px 4px 0px 0px;" />
            </div>
            <div class="post-middle yekan-font text-center">
                <div class="" style="max-height: 195px; overflow: hidden;">
                    <div class="col-xs-12 top-buffer" style="font-size: 20px; max-height: 55px; overflow: hidden" ng-class="langClass">{{ngModel.Title}}</div>

                    <ul class="col-xs-12 nav nav-pills splitter " role="tablist" style="padding-top: 20px !important;z-index: 0;">
                        <li role="presentation" ng-repeat="s in ngModel.Subjects track by $index" class="pull-right" ng-if="$index < 3">
                            <a ui-sref="home.cat({ id: '{{s.ID}}'})" class="my-darkgray" ng-class="langClass" style="padding: 5px">
                                {{(lang=='en')? s.TitleEN:s.Title}}<span style="padding-left: 7px" class="fa fa-tag"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <figcaption class="post-back persian-rtl yekan-font">
            <div ng-class="langClass" class="text-center" compile="ngModel.BriefContent" style="overflow: hidden; min-height: 30px; max-height: 80px; color: white;background-color: transparent !important"></div>
        </figcaption>
    </figure>
    <div class="post-footer">
        <div class="col-md- border-top" style="margin-right: 20px">
            <div class="pull-right" ng-repeat="a in ngModel.Authors">
                <div class="post-avatar-cover pull-right" ng-if="a.FullPath">
                    <img class="post-avatar hvr-ripple-out" ng-src="{{a.FullPath}}"/>
                </div>
            </div>
            <div class="pull-right post-footer-icon">
                <i class="fa fa-heart fa-2x icon-heart "
                   ng-class="(ngModel.Liked)?'hvr-push my-red':'hvr-pulse-grow my-gray'" ng-click="likePost()"
                   tooltips tooltip-template="{{ngModel.LikesCount}}"></i>
            </div>
            <!--<div class="pull-right post-footer-icon">
                <i class="fa fa-star fa-2x icon-heart "
                   ng-class="(ngModel.class_star)?post.class_star:'hvr-buzz-out'" ng-click="starPost()"></i>
            </div>-->

            <i class="fa fa-angle-left fa-3x pull-left post-footer-icon icon-more hvr-wobble-horizontal" ng-click="onPostMore()"></i>

        </div>
    </div>
</div>