<div class="post">
    <div class="post-header">
        <img ng-src="{{ngModel.Image}}" />
        <!--<div style="position: absolute; top: 0;background-color: rgba(1,1,1,0.5)"></div>-->
    </div>
    <div class="post-middle yekan-font text-center">
        <div style="height: 100%">
            <div class="col-sm-12" style="font-size: 20px; max-height: 55px; overflow: hidden">{{ngModel.Title}}</div>
            <div class="col-sm-12 no no-padding" style="max-height: 96px; overflow: hidden; margin-top: 10px">
                <div class="col-sm-12 pull-right" ng-repeat="s in ngModel.Subjects" ui-sref="home.cat({ id: '{{s.ID}}'})">
                    <div class="post-tag">
                        <i class="post-tag-icon fa fa-tag pull-right"></i>
                        <span class="post-tag-text text-right pull-right">
                            {{s.Title}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" compile="ngModel.BriefContent" style="overflow: hidden; min-height:30px ; max-height: 80px; color: gray"></div>
        </div>
    </div>
    <div class="post-footer border-top">
        <div class="col-md-12 no-padding">
            <div class="pull-right" ng-repeat="a in ngModel.Authors">
                <div class="post-avatar-cover pull-right" ng-if="a.FullPath">
                    <img class="post-avatar hvr-ripple-out" ng-src="{{a.FullPath}}" />
                </div>
            </div>
            <div class="pull-right post-footer-icon">
                <i class="fa fa-heart fa-2x icon-heart "
                   ng-class="(ngModel.Liked)?'hvr-push my-red':'hvr-pulse-grow my-gray'" ng-click="likePost()"
                   tooltips tooltip-template="{{ngModel.LikesCount}}"></i>
            </div>
            <!--<div class="pull-right post-footer-icon">
                <i class="fa fa-star fa-2x icon-heart "
                   ng-class="(ngModel.class_star)?post.class_star:'hvr-buzz-out'" ng-click="starPost()"
                   ></i>
            </div>-->
            
            <i class="fa fa-angle-left fa-3x pull-left post-footer-icon icon-more hvr-wobble-horizontal" ng-click="onPostMore()"></i>

        </div>
    </div>
    <div class="row"></div>
</div>