<div class="modal-header">
    <h3 class="modal-title yekan-font text-right">گالری</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 gallery ">
            <div class="media col-xs-4 col-sm-4 col-md-3 col-lg-2 image-cover-media" ng-repeat="m in medias">
                <!--ng-mouseenter="m.showBack = true" ng-mouseleave="m.showBack = false"-->
                <div ng-if="m.Type == 'png'||m.Type == 'jpg/jpeg'" ng-click="selectMedia(m)" style="cursor: pointer;">
                    <img ng-src="{{m.FullPath}}"/>
                    <!--<div class="contain-media-back" ng-show="m.showBack" style="position: absolute; top: 5px; width: 100%">
                        <div class="media-back">
                            <div class="text-center" style="height: 70%">{{m.FullPath}}</div>
                            <div class="text-center col-md-12" style="height: 70%">
                                <i class="fa fa-trash-o fa-3x my-link" confirm="آیا مطمئن هستید که میخواهید این تصویر را حذف کنید ؟" ng-click="removeMedia(m);"></i>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-12">
            <div class="span8 text-center">

                <auto-paging page="1"
                             page-size="20"
                             action-name="getAllMedia"
                             data-params="pagingParams"
                             ng-control="pagingCtrl"
                             items="medias">
                </auto-paging>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default pull-right yekan-font" type="button" ng-click="cancel()" style="margin-left: 5px">بازگشت</button>
    <!--<button class="btn btn-primary pull-left yekan-font" type="button" ng-click="doLogin(login)">ورود</button>-->
    <button type="submit" class="btn btn-primary pull-left yekan-font" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
        ثبت نام
    </button>
</div>