

<div class="center-content-container yekan-font">
    <div class="header content-header-yellow">
        <div class="row">
            <div class="col-md-12 text-right content-header-mid">
                <span>تنظیمات سایت</span>
                <i class="fa fa-flag"></i>
            </div>
        </div>
    </div>
    <div class="white-panel">
        <div class="row">
            <div class="col-xs-12">
                <div class="white-panel-header">
                    تنظیمات صفحات سایت
                </div>
                <div class="form-group">
                    <multi-select-drop-down dir="rtl"
                                            class="col-xs-7 col-xs-offset-2"
                                            items="allPages"
                                            selected-list="selectedAboutPage"
                                            ng-button-text="'انتخاب نشده'"
                                            multi-select-mode="false"
                                            radio-button-behaviour="true"
                                            max-button-titles-show="3"
                                            check-feild-name="'aboutCheck'"
                                            title-feild-name="'NameEN'"
                                            close-on-select="true"
                                            watch-on-items="true">
                    </multi-select-drop-down>
                    <label class="col-xs-3 control-label no-padding-right yekan-font text-right" style="margin-top: 5px">صفحه درباره ما</label>
                </div>
                <div class="form-group">
                    <multi-select-drop-down dir="rtl"
                                            class="col-xs-7 col-xs-offset-2"
                                            items="allPages"
                                            selected-list="selectedFooterPage"
                                            ng-button-text="'انتخاب نشده'"
                                            multi-select-mode="false"
                                            radio-button-behaviour="true"
                                            max-button-titles-show="3"
                                            check-feild-name="'footerCheck'"
                                            title-feild-name="'NameEN'"
                                            close-on-select="true"
                                            watch-on-items="true">
                    </multi-select-drop-down>
                    <label class="col-xs-3 control-label no-padding-right yekan-font text-right" style="margin-top: 5px">فوتر سایت</label>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-success yekan-font" ng-click="saveSettings()">
                        ثبت تغییرات
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
