<style>
    .admin-container {
        overflow-x: auto;
        background-color: white;
        padding: 10px
    }
</style>
<div class="page-content yekan-font">
    <div class="admin-container">
        <div class="col-sm-12 no-padding">
            <table dir="rtl" class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-right">سر تیتر</th>
                        <th class="text-right" style="width: 200px">مختصر</th>
                        <th class="text-right" style="width: 150px">تاریخ انتشار</th>
                        <th class="text-right" style="width: 58px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in posts">
                        <td>{{p.Title}}</td>
                        <td ng-bind-html="p.BriefContent"></td>
                        <td>{{p.WriteDate | jalaliDate:'jYYYY/jMM/jDD hh:mm' }}</td>
                        <td>
                            <div>
                                <span class="fa fa-trash-o fa-group-mid red" ng-click="deletePost(p)"  confirm="آیا مطمئن هستید که می خواهید پست {{p.ID}} را حذف کنید؟"></span>
                                <span class="fa fa-pencil fa-group-mid green"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

