<!--<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">hi</li>

    </ul>
</div>-->
<style>
    .admin-container {
        height: 1000px;
        background-color: white;
    }
    
    .admin-container>.center-side {
    }
</style>
<div class="page-content" ng-controller="PostCtrl">
    <div class="admin-container">
        <div class="col-sm-12 no-padding">
         new post
        </div>
    </div>
</div>

