
<div class="page-content yekan-font">
    <div class="center-content-container">
        <div class="header content-header-yellow">
            <div class="row">
                <div class="col-md-12 text-right content-header-mid">
                    <span ng-bind="(editMode)?'ویرایش مطلب':'مطلب جدید'"></span>
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="white-panel">
            <form name="loginForm" class="form-horizontal" role="form">
                <div class="form-group text-right">
                    <div class="col-sm-10 ">
                        <span class="block input-icon input-icon-right">
                            <input dir="rtl" type="text" class="form-control yekan-font text-right" placeholder="سر تیتر ..." name="title" ng-model="post.title" />
                            <!--<i class="ace-icon fa fa-user"></i>-->
                        </span>
                    </div>
                    <label class="col-sm-2 control-label no-padding-right yekan-font" for="email">سر تیتر</label>
                </div>
                <div class="form-group">
                    <multi-select-drop-down dir="rtl"
                                            class="col-sm-5 col-md-offset-5"
                                            items="subjects"
                                            selected-list="selectSubjects"
                                            ng-button-text="subjectButtonText"
                                            multi-select-mode="true"
                                            radio-button-behaviour="false"
                                            max-button-titles-show="3"
                                            check-feild-name="'subject'"
                                            title-feild-name="'Title'"
                                            close-on-select="false"
                                            watch-on-items="true">
                    </multi-select-drop-down>
                    <label class="col-sm-2 control-label no-padding-right yekan-font" for="email">موضوع</label>
                </div>
                <div class="form-group">
                    <multi-select-drop-down dir="rtl"
                                            class="col-sm-5 col-md-offset-5"
                                            items="authors"
                                            selected-list="selectAuthors"
                                            ng-button-text="subjectButtonText"
                                            multi-select-mode="true"
                                            radio-button-behaviour="false"
                                            max-button-titles-show="2"
                                            close-on-select="false"
                                            check-feild-name="'author'"
                                            title-feild-name="'FullName'"
                                            watch-on-items="true">
                    </multi-select-drop-down>
                    <label class="col-sm-2 control-label no-padding-right yekan-font" for="email">نویسندگان</label>
                </div>
                <div class="form-group ">
                    <span class="col-sm-12 control-label no-padding-right yekan-font" for="email">: خلاصه مطلب</span>
                </div>
                <div text-angular class="col-sm-12 form-group no-padding" ng-model="post.postBrief" style="direction: rtl; margin: 0"></div>
                <div class="form-group ">
                    <span class="col-sm-12 control-label no-padding-right yekan-font" for="email">: ادامه مطلب</span>
                </div>

                <div text-angular class="col-sm-12 form-group no-padding" ng-model="post.postContent" style="direction: rtl; margin: 0"></div>

                <div class="form-group text-right">
                    <div class="col-sm-4 col-sm-offset-6" style="margin-top: 10px;">
                        <adm-dtp ng-model='post.releaseDate' options='{calType: "jalali",dtpType:"date&time", format: "YYYY/MM/DD hh:mm", default: "today",autoClose:true}' full-data="releaseDateFull"></adm-dtp>
                    </div>
                    <label class="col-sm-2 control-label no-padding-right yekan-font" for="email" style="margin-top: 10px;">تاریخ انتشار</label>
                </div>
                <div class="form-group text-right">
                    <div class="col-sm-4 col-sm-offset-6" style="margin-top: 10px;">
                        <adm-dtp ng-model='post.writeDate' options='{calType: "jalali",dtpType:"date&time", format: "YYYY/MM/DD hh:mm", default: "today",autoClose:true}' full-data="writeDateFull"></adm-dtp>
                    </div>
                    <label class="col-sm-2 control-label no-padding-right yekan-font" style="margin-top: 10px;">تاریخ نوشته</label>
                </div>
                <div class="form-group text-right">
                    <div class="col-sm-4 col-sm-offset-6" style="margin-top: 10px;">
                        <button class="btn btn-success yekan-font" style="margin-left: 15px" ng-click="openGalleryModal()">
                            انتخاب تصویر
                        </button>
                    </div>
                    <label class="col-sm-2 control-label no-padding-right yekan-font" style="margin-top: 10px;">تصویر مطلب</label>
                </div>
                <div class="form-group text-right" ng-if="image.FullPath">
                    <div class="col-md-12 gallery" style="margin-top: 10px;">
                        <img ng-src="{{image.FullPath}}" class="media col-sm-3 col-sm-offset-7" />
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success yekan-font" style="margin-left: 15px" ng-click="saveNewPost()">ثبت پست جدید
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

