<!--<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">hi</li>

    </ul>
</div>-->
<style>
    .admin-container {
        overflow-x: auto;
        background-color: white;
        padding: 10px
    }
</style>
<div class="page-content">
    <div class="admin-container">
        <div class="col-sm-12 no-padding">
            <form name="loginForm" class="form-horizontal" role="form">
                <div class="form-group text-right">
                    <div class="col-sm-10 ">
                        <span class="block input-icon input-icon-right">
                            <input dir="rtl" type="text" class="form-control yekan-font text-right" placeholder="سر تیتر ..." name="title" ng-model="title" />
                            <!--<i class="ace-icon fa fa-user"></i>-->
                        </span>
                    </div>
                    <label class="col-sm-2 control-label no-padding-right yekan-font" for="email">سر تیتر</label>
                </div>
                <div class="form-group">
                    <multi-select-drop-down class="col-sm-5 col-md-offset-5"
                                            items="subjects"
                                            selected-list="selectSubjects"
                                            ng-button-text="subjectButtonText"
                                            multi-select-mode="true"
                                            radio-button-behaviour="false"
                                            max-button-titles-show="3"
                                            title-feild-name="'Title'">
                    </multi-select-drop-down>
                    <label class="col-sm-2 control-label no-padding-right yekan-font" for="email">موضوع</label>
                </div>
                <div class="form-group">
                    <multi-select-drop-down class="col-sm-5 col-md-offset-5"
                                            items="authors"
                                            selected-list="selectAuthors"
                                            ng-button-text="subjectButtonText"
                                            multi-select-mode="true"
                                            radio-button-behaviour="false"
                                            max-button-titles-show="2"
                                            title-feild-name="'FullName'">
                    </multi-select-drop-down>
                    <label class="col-sm-2 control-label no-padding-right yekan-font" for="email">نویسندگان</label>
                </div>
                <div class="form-group ">
                    <span class="col-sm-12 control-label no-padding-right yekan-font" for="email">: خلاصه مطلب</span>
                </div>
                <div text-angular class="col-sm-12 form-group no-padding" ng-model="postBrief" style="direction: rtl;margin: 0"></div>
                <div class="form-group ">
                    <span class="col-sm-12 control-label no-padding-right yekan-font" for="email">: ادامه مطلب</span>
                </div>

                <div text-angular class="col-sm-12 form-group no-padding" ng-model="postContent" style="direction: rtl;margin: 0"></div>

                <div class="form-group text-right">
                    <div class="col-sm-4 col-sm-offset-6" style="margin-top: 10px;">
                        <adm-dtp ng-model='releaseDate' options='{calType: "jalali", format: "YYYY/MM/DD", default: 1450197600000}'></adm-dtp>
                    </div>
                    <label class="col-sm-2 control-label no-padding-right yekan-font" for="email" style="margin-top: 10px;" >تاریخ انتشار</label>
                </div>
                <div class="form-group">
                    <button class="btn btn-success yekan-font" style=" margin-left: 15px" ng-click="saveNewPost()">ثبت پست جدید
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>

