<div id="top-menubar" class="navbar navbar-inverse navbar-fixed-top" role="navigation"
     style="background-color: rgba(0, 0, 0, 0.9); border: none">

    <div class="container">
        <div id='cssmenu' class="">
            <ul>
                <li>
                    <a ui-sref="homeEN.home" class="english-font" style="padding-top: 18px">
                        <div class="glyphicon glyphicon-home" style="margin-right: 8px; line-height: 0;"></div>
                        Home
                    </a>
                </li>
                <li class='has-sub'>
                    <a class="english-font" style="padding-top: 18px">Subjects</a>
                    <ul>
                        <li class='has-sub ' ng-repeat="s in subjects">
                            <a ui-sref="homeEN.cat({ id: '{{s.ID}}'})" class="english-font">{{s.TitleEN}}</a>
                            <ul>
                                <li><a  class="english-font" ui-sref="homeEN.cat({ id: '{{child.ID}}'})" ng-repeat="child in s.childs">{{child.TitleEN}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ui-sref='homeEN.about' class="english-font" style="padding-top: 18px">
                        <div class="glyphicon glyphicon-globe" style="margin-right: 8px; line-height: 0"></div>
                        About
                    </a>
                </li>
                <li>
                    <a ui-sref='homeEN.contact_us' class="english-font" style="padding-top: 18px">
                        <div class="glyphicon glyphicon-earphone" style="margin-right: 8px; line-height: 0"></div>
                        Contact us
                    </a>
                </li>

                <li style="float: right">
                    <a ui-sref1="home.home" ng-click="switchLanguage()" style="padding: 5px;padding-top: 10px;">
                        <img src="images/flag_iran.png" style="margin-right: 8px; height: 30px;width:30px" />
                    </a>
                </li>
                <li ng-if="!authenticated" style="float: right">
                    <a ng-click="openModal('signup')" class="english-font" style="padding-top: 18px">
                        <div class="glyphicon glyphicon-user" style="margin-right: 8px; line-height: 0"></div>
                        Sign Up
                    </a>
                </li>
                <li ng-if="!authenticated" style="float: right">
                    <a ng-click="openModal('signin')" class="english-font" style="padding-top: 18px">
                        <div class="fa fa-lock" style="margin-right: 8px; line-height: 0"></div>
                        Login
                    </a>
                </li>
                <li ng-if="authenticated" style="float: right">
                    <a ng-click="logout()" class="english-font" style="padding-top: 18px">
                        <div class="fa fa-sign-out" style="margin-right: 8px; line-height: 0"></div>
                        Sign out
                    </a>
                </li>
                <li ng-if="authenticated && isAdmin" style="float: right">
                    <a ui-sref="admin_root.dashboard" class="english-font" style="padding-top: 18px">
                        <div class="glyphicon glyphicon-user" style="margin-right: 8px; line-height: 0"></div>
                        Managing Panel
                    </a>
                </li>
                <li ng-if="authenticated && !isAdmin" style="float: right">
                    <a ui-sref="user_root.dashboard" class="english-font" style="padding-top: 18px">
                        <div class="glyphicon glyphicon-user" style="margin-right: 8px; line-height: 0"></div>
                        Panel
                    </a>
                </li>
            </ul>
        </div>
        <!--<div class="row">
            <div class="col-xs-12 no-padding">

            </div>
        </div>-->
    </div>
</div>
<div style="margin-top:0px">
    <slide-show id="main-slider" class="col-md-12 slider no-padding" slides="slides" ng-control="sliderController"></slide-show>
    <div class="container">

        <div class="col-md-12 no-padding english-text" style="margin-top: 10px">
            <!-- Header Content-->
            <div class="col-md-12 col-xs-12 col-sm-12 no-padding yekan-font">
                <div ng-repeat="m in homePageData.HeaderModules">
                    <div compile='m.HtmlContentEN'></div>
                </div>
            </div>
            <!-- Right Sidebar -->
            <div class="col-md-3 col-xs-12 col-sm-12 no-padding" style="margin-top: -5px">
                <div ng-repeat="m in homePageData.RightBarModules">
                    <div compile='m.HtmlContentEN'></div>
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-md-9 col-xs-12 col-sm-12 no-padding">
                <div ui-view="viewContent" style="margin-right: 10px; margin-left: 10px"></div>
            </div>

            <!-- Footer Content-->
            <div class="col-md-12 col-xs-12 col-sm-12 no-padding yekan-font">
                <div ng-repeat="m in homePageData.FooterModules">
                    <div compile='m.HtmlContentEN'></div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer row" style="margin-left: 0;margin-right:0">
        <div class="col-md-12 no-padding english-text" compile="homePageData.Footer.HtmlContentEN"></div>
    </div>
</div>


<script type="text/ng-template" id="LoginTemplateEN.html">
    <div class="modal-header">
        <h3 class="modal-title">Login</h3>
    </div>
    <div class="modal-body">
        <form name="loginForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right" for="email"> Email or Username </label>
                <div class="col-sm-8 ">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control" placeholder="Email / Phone" name="email" ng-model="login.email" required focus />
                    <!--<i class="ace-icon fa fa-user"></i>-->
                </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right" for="password">Password</label>
                <div class="col-sm-8">
                <span class="block input-icon input-icon-right">
                    <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required />
                    <!--<i class="ace-icon fa fa-lock"></i>-->
                </span>
                </div>
            </div>
            <a class="col-sm-12 no-padding control-label no-padding-right" for="password">Forget your password?</a>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" ng-click="cancel()" style="margin-left: 5px">Cancel</button>
        <button class="btn btn-primary pull-right" type="button" ng-click="doLogin(login)">Login</button>
    </div>
</script>
<script type="text/ng-template" id="SignupTemplateEN.html">
    <div class="modal-header">
        <h3 class="modal-title">Sign up</h3>
    </div>
    <div class="modal-body">
        <form name="signupForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right yekan-font" for="email">Email</label>
                <div class="col-sm-9">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control yekan-font text-center" placeholder="Email" name="email" ng-model="signup.email" focus />
                    <span ng-show="signupForm.email.$error.email" class="help-inline">Email is not valid!</span>
                </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right yekan-font" for="address">Username</label>
                <div class="col-sm-9">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control yekan-font text-center" placeholder="Username" ng-model="signup.username" />
                </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right yekan-font" for="name">First Name</label>
                <div class="col-sm-9">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control yekan-font text-center" placeholder="First Name" ng-model="signup.firstName" />
                </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right yekan-font" for="phone">Last Name</label>
                <div class="col-sm-9">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control yekan-font text-center" placeholder="Last Name" name="phone" ng-model="signup.lastName" />
                </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right yekan-font" for="password">Password</label>
                <div class="col-sm-9">
                <span class="block input-icon input-icon-right">
                    <input type="password" class="form-control yekan-font text-center" name="password" placeholder="Password" ng-model="signup.password" required />
                    <small class="errorMessage yekan-font text-right" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid">Password</small>
                </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right yekan-font" for="password2">Verify Password</label>
                <div class="col-sm-9">
                <span class="block input-icon input-icon-right">
                    <input type="password" class="form-control yekan-font text-center" name="password2" placeholder="Verify Password" ng-model="signup.password2" password-match="signup.password" required />
                    <small class="errorMessage yekan-font" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required">Verify Password</small>
                    <small class="errorMessage yekan-font" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required">Your entered password is not match with verify!</small>
                </span>
                </div>
            </div>
            <div class="text-right yekan-font" style="height: 56px;">
                <div class="pull-right" style="width: 304px;">
                    <div vc-recaptcha on-create="captchaLoaded()" ng-model="myRecaptchaResponse"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" ng-click="cancel()" style="margin-left: 5px">Cancel</button>
        <!--<button class="btn btn-primary pull-left yekan-font" type="button" ng-click="doLogin(login)">ورود</button>-->
        <button type="submit" class="btn btn-primary pull-right" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
            Sign up!
        </button>
    </div>
</script>