<ul class="colorful-list yekan-font">
    <li>
        <a class="my-border-green text-right" ui-sref="home.home">
            خانه
            <i class="fa fa-home"></i>
        </a>
    </li>
    <!--selected-->
    <li class="text-right" ng-class="(subjectOpen)?'selected':''" slide-toggle="#subs" ng-click="subjectOpen = !subjectOpen">
        <a class="my-border-yellow">
            موضوعات
            <i class="fa fa-list"></i>
        </a>
        <div id="subs" class="sub-list slideable sidebar-right" easing="linear" duration="0.35s">
            <ul style="padding-left: 0px;padding-right: 0px;">
                <li class="sub-list-li" ng-repeat="s in subjects">
                    <a class="yekan-font text-right sub-list-a" ui-sref="home.cat({ id: '{{s.ID}}'})">
                        <label class="sub-list-label">{{s.Title}}</label>
                        <div class="fa fa-angle-double-left"></div>
                    </a>
                    <ul style="padding-left: 0px;padding-right: 0px;">
                        <li class="sub-list-li" ng-repeat="c in s.childs">
                            <a class="yekan-font text-right sub-list-a sub-list-a-a" ui-sref="home.cat({ id: '{{c.ID}}'})">
                                <label class="sub-list-label">{{c.Title}}</label>
                                <div class="fa fa-angle-left" style="font-size: "></div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <a class="my-border-peter text-right" ui-sref="home.contact_us">
            تماس با ما
            <i class="fa fa-phone"></i>
        </a>
    </li>
    <li>
        <a class="my-border-red text-right " ui-sref="home.about">
            درباره ما
            <i class="fa fa-users"></i>
        </a>
    </li>
    <li ng-if="!auth.authenticated">
        <a class="my-border-carrot text-right" ng-click="openModal('signin')">
            ورود
            <i class="fa fa-sign-in"></i>
        </a>
    </li>
    <li ng-if="!auth.authenticated">
        <a class="my-border-asphalt text-right" ng-click="openModal('signup')">
            ثبت نام
            <i class="fa fa-user"></i>
        </a>
    </li>
    <li ng-if="auth.authenticated && !auth.isAdmin">
        <a class="my-border-carrot text-right" ui-sref="admin_root.dashboard">
            پنل کاربری
            <i class="fa fa-user"></i>
        </a>
    </li>
    <li ng-if="auth.authenticated && auth.isAdmin">
        <a class="my-border-carrot text-right" ui-sref="user_root.dashboard">
            پنل ادمین
            <i class="fa fa-user"></i>
        </a>
    </li>
    <li ng-if="auth.authenticated">
        <a class="my-border-asphalt text-right" ng-click="logout()">
            خروج
            <i class="fa fa-sign-out"></i>
        </a>
    </li>
</ul>

<!--<ul class="colorful-list yekan-font" ng-reapeat="m in modules">
    <div style="height: 100px" ng-bind-html="safsaf">

    </div>
</ul>-->
