<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="content-header vazir-font">
        <small>مدیریت</small>
        داشبورد
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/dashboard"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">داشبورد</li>
    </ol>
</section>
<div class="row">
    <div class="col-xs-12">

        <div class="col-xs-12">
            <div class="box box-warning" >
                <div class="box-header  ">
                    <h3 class="box-title vazir-font">
                        <span  > نمودار فعالیت نواحی </span>
                    </h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                </div>
            </div>
        </div>
    </div>
</div>
