<!--<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">hi</li>

    </ul>
</div>-->
<style>
    .post-single-container {
        background-color: white;
        height: 1000px
    }
     
</style>
<div class="page-content" ng-controller="PostCtrl">
    <div class="">
        <div class="space-6"></div>
        <div class="col-sm-12 no-padding">

            <div class="post-single-container col-md-12 no-padding">
                {{post["0"]}} ,             {{post["1"]}} ,             {{post["2"]}} , 
            </div>           
        </div>
    </div>
</div>

