<nav id="top-menubar" class="navbar navbar-inverse navbar-fixed-top" role="navigation"
     style="background-color: rgba(0, 0, 0, 0.9); border: none">

    <div class="container">
        <div id='cssmenu' class="align-right">
            <ul class="yekan-font">
                <li>
                    <a ui-sref="home.home">
                        خانه
                        <div class="glyphicon glyphicon-home" style="margin-left: 8px; line-height: 0"></div>
                    </a>
                </li>
                <li class='has-sub'>
                    <a>موضوعات</a>
                    <ul>
                        <li class='has-sub' ng-repeat="s in subjects">
                            <a ui-sref="home.cat({ id: '{{s.ID}}'})">{{s.Title}}</a>
                            <ul>
                                <li><a ui-sref="home.cat({ id: '{{child.ID}}'})" ng-repeat="child in s.childs">{{child.Title}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ui-sref='home.about'>
                        درباره ما
                        <div class="glyphicon glyphicon-globe" style="margin-left: 8px; line-height: 0"></div>
                    </a>
                </li>
                <li>
                    <a ui-sref='home.contact_us'>
                        تماس با ما
                        <div class="glyphicon glyphicon-earphone" style="margin-left: 8px; line-height: 0"></div>
                    </a>
                </li>

                <li style="float: left">
                    <a ui-sref1="homeEN.home" ng-click="switchLanguage()" style="padding: 5px; padding-top: 12px;">
                        <img src="images/flag_united_kingdom.png" style="margin-left: 8px; height: 30px; width: 30px"/>
                    </a>
                </li>
                <li ng-if="!authenticated" style="float: left">
                    <a ng-click="openModal('signup')">
                        ثبت نام
                        <div class="fa fa-user" style="margin-left: 8px; line-height: 0"></div>
                    </a>
                </li>
                <li ng-if="!authenticated" style="float: left">
                    <a ng-click="openModal('signin')">
                        ورود
                        <div class="fa fa-lock" style="margin-left: 8px; line-height: 0"></div>
                    </a>
                </li>
                <li ng-if="authenticated" style="float: left">
                    <a ng-click="logout()">
                        خروج
                        <div class="fa fa-sign-out" style="margin-left: 8px; line-height: 0"></div>
                    </a>
                </li>
                <li ng-if="authenticated && isAdmin" style="float: left">
                    <a ui-sref="admin_root.dashboard">
                        پنل کاربری
                        <div class="glyphicon glyphicon-user" style="margin-left: 8px; line-height: 0"></div>
                    </a>
                </li>
                <li ng-if="authenticated && !isAdmin" style="float: left">
                    <a ui-sref="user_root.dashboard">
                        پنل کاربری
                        <div class="glyphicon glyphicon-user" style="margin-left: 8px; line-height: 0"></div>
                    </a>
                </li>
            </ul>
        </div>
        <!--<div class="row">
            <div class="col-xs-12 no-padding">

            </div>
        </div>-->
    </div>
</nav>



<div style="margin-top: 0px;min-height: 500px">
    <slide-show id="main-slider" class="" slides="slides" ng-control="sliderController"></slide-show>
    <div class="container">
        <div class="col-md-12 no-padding" style="margin-top: 10px">
            <!-- Header Content-->
            <div class="col-md-12 col-xs-12 col-sm-12 no-padding yekan-font">
                <div ng-repeat="m in homePageData.HeaderModules">
                    <div compile='m.HtmlContent'></div>
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-md-9 col-xs-12 col-sm-12 no-padding">
                <div ui-view="viewContent" style="margin-right: 10px; margin-left: 10px;"></div>
            </div>

            <!-- Right Sidebar -->
            <div class="col-md-3 col-xs-12 col-sm-12 no-padding" style="margin-top: -5px">
                <div ng-repeat="m in homePageData.RightBarModules">
                    <div compile='m.HtmlContent'></div>
                </div>
            </div>

            <!-- Footer Content-->
            <div class="col-md-12 col-xs-12 col-sm-12 no-padding yekan-font">
                <div ng-repeat="m in homePageData.FooterModules">
                    <div compile='m.HtmlContent'></div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer row" style="margin-left: 0; margin-right: 0;">
        <div class="col-md-12 no-padding" compile="homePageData.Footer.HtmlContent" style="min-height: 40px"></div>
    </div>
</div>


<script type="text/ng-template" id="LoginTemplate.html">
    <div class="modal-header">
        <h3 class="modal-title yekan-font text-right">ورود به سایت</h3>
    </div>
    <div class="modal-body">
        <form name="loginForm" class="form-horizontal" role="form">
            <div class="form-group text-right">
                <div class="col-sm-9 ">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control" placeholder="Email / Phone" name="email" ng-model="login.email" required focus />
                    <!--<i class="ace-icon fa fa-user"></i>-->
                </span>
                </div>
                <label class="col-sm-3 control-label no-padding-right yekan-font" for="email"> ایمیل یا نام کاربری </label>
            </div>
            <div class="form-group text-right">
                <div class="col-sm-9">
                <span class="block input-icon input-icon-right">
                    <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required />
                    <!--<i class="ace-icon fa fa-lock"></i>-->
                </span>
                </div>
                <label class="col-sm-3 control-label no-padding-right yekan-font" for="password"> رمز عبور </label>
            </div>
            <a class="col-sm-12 no-padding control-label no-padding-right yekan-font" for="password"> رمز عبور خود را فراموش کرده اید ؟  </a>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-right yekan-font" type="button" ng-click="cancel()" style="margin-left: 5px">بازگشت</button>
        <button class="btn btn-primary pull-left yekan-font" type="button" ng-click="doLogin(login)">ورود</button>
    </div>
</script>
<script type="text/ng-template" id="SignupTemplate.html">
    <div class="modal-header">
        <h3 class="modal-title yekan-font text-right">ورود به سایت</h3>
    </div>
    <div class="modal-body">
        <form name="signupForm" class="form-horizontal" role="form">
            <div class="form-group text-right">
                <div class="col-sm-9">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control yekan-font text-center" placeholder="ایمیل معتبر" for="email" name="email" ng-model="signup.email"  focus />
                    <span ng-show="signupForm.email.$error.email" class="help-inline">ایمیل معتبر نیست!</span>
                </span>
                </div>
                <label class="col-sm-3 control-label no-padding-right yekan-font" for="email">ایمیل</label>
            </div>
            <div class="form-group text-right">
                <div class="col-sm-9">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control yekan-font text-center" placeholder="حتما انگلیسی انتخاب شود" ng-model="signup.username" />
                </span>
                </div>
                <label class="col-sm-3 control-label no-padding-right yekan-font" for="address">نام کاربری</label>
            </div>
            <div class="form-group text-right">
                <div class="col-sm-9">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control yekan-font text-center" placeholder="نام" ng-model="signup.firstName" />
                </span>
                </div>
                <label class="col-sm-3 control-label no-padding-right yekan-font" for="name">نام</label>
            </div>
            <div class="form-group text-right">
                <div class="col-sm-9">
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control yekan-font text-center" placeholder="نام خانوادگی" name="phone" ng-model="signup.lastName" />
                </span>
                </div>
                <label class="col-sm-3 control-label no-padding-right yekan-font" for="phone">نام خانوادگی</label>
            </div>
            <div class="form-group text-right">
                <div class="col-sm-9">
                <span class="block input-icon input-icon-right">
                    <input type="password" class="form-control yekan-font text-center" name="password" placeholder="رمز عبور" ng-model="signup.password" required />
                    <small class="errorMessage yekan-font text-right" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid">لطفا رمزی انتخاب کنید</small>
                </span>
                </div>
                <label class="col-sm-3 control-label no-padding-right yekan-font" for="password">رمز عبور</label>
            </div>
            <div class="form-group text-right">
                <div class="col-sm-9">
                <span class="block input-icon input-icon-right">
                    <input type="password" class="form-control yekan-font text-center" name="password2" placeholder="رمز را دوباره تایپ کنید" ng-model="signup.password2" password-match="signup.password" required />
                    <small class="errorMessage yekan-font" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required">لطفا رمز را دوباره وارد کنید</small>
                    <small class="errorMessage yekan-font" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> رمز با تاییدیه یکسان نیست.</small>
                </span>
                </div>
                <label class="col-sm-3 control-label no-padding-right yekan-font" for="password2">تایید رمز عبور</label>
            </div>
            <div class="text-center yekan-font">
                <div vc-recaptcha on-create="captchaLoaded()" ng-model="myRecaptchaResponse"></div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-right yekan-font" type="button" ng-click="cancel()" style="margin-left: 5px">بازگشت</button>
        <!--<button class="btn btn-primary pull-left yekan-font" type="button" ng-click="doLogin(login)">ورود</button>-->
        <button type="submit" class="btn btn-primary pull-left yekan-font" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
            ثبت نام
        </button>
    </div>
</script>